[Unit]
Description=Power Event Handler
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo -u sidouxp3 /usr/local/bin/power_event_handler.sh
