/* Define colors */
@define-color primary #000;
@define-color secondary #fff;
@define-color unfocused #555;
@define-color workspace #222222;
@define-color workspace-active #1793d0;
@define-color warning #fabd2f;
@define-color critical #fb4934;
@define-color arch-color  #1793d0;

/* Reset all styles */
* {
  font-family: monospace, "Fira Sans Semibold", Roboto, Arial, sans-serif;
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  -gtk-icon-shadow: none;
}

tooltip {
  border-radius: 10px;
  background-color: @primary;
  opacity: 0.8;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @secondary;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  color: @secondary;
  background: @primary;
}

window#waybar.empty #window {
  background-color: transparent;
}
/* The whole bar */
#waybar {
  background: transparent;
  color: @secondary;
  font-size: 12px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* Each module */
#workspaces,
#battery,
#clock,
#language,
#network,
#bluetooth,
#pulseaudio,
#tray,
#backlight,
#custom-distro,
#window,
#custom-media,
#custom-updates {
  font-size: 12px;
  border-radius: 15px;
  padding: 1px 10px;
  margin: 3px 5px;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging,
#battery.critical:not(.charging),
#custom-updates.red {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical;
  animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#custom-updates.yellow,
#battery.warning.discharging {
  color: @warning;
}

/* And now modules themselves in their respective order */

/* Workspaces stuff */
#workspaces {
  background: @primary;
  color: @secondary;
}

#workspaces button {
  color: @secondary;
  background: @primary;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}

/* Active (on focused output) */
#workspaces button.active {
  color: @workspace-active;
  opacity: 1;
}

/* Style when cursor is on the button */
#workspaces button:hover {
  color: @secondary;
  opacity: 0.5;
}

#backlight {
  color: @secondary;
  background: @primary;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.8);
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#pulseaudio {
  color: @secondary;
  background: @primary;
}

#network {
  color: @secondary;
  background: @primary;
}

#bluetooth {
  color: @secondary;
  background: @primary;
}

#bluetooth.connected {
  background: @workspace-active;
}

#bluetooth.on {
  background: @arch-color;
}

#memory {
  color: @secondary;
}

#disk {
  color: @secondary;
}

#cpu {
  color: @secondary;
}

#temperature {
  color: @secondary;
  background: @primary;
}

#language {
  color: @secondary;
  background: @primary;
}

#battery {
  color: @secondary;
  background: @primary;
}

#tray {
  color: @secondary;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#clock {
  color: @primary;
  background: @secondary;
}

/* -----------------------------------------------------
 * Custom 
 * ----------------------------------------------------- */
#custom-arrow_right,
#custom-arrow_left {
  font-size: 16px;
}
#custom-arrow_right {
  color: @primary;
  /* background: @secondary; */
}

#custom-arrow_left {
  color: @primary;
  background: @primary;
}
/* -----------------------------------------------------
 * MEDIA 
 * ----------------------------------------------------- */
#custom-media {
  color: @secondary;
  background: @primary;
}

/* -----------------------------------------------------
 * UPDATES 
 * ----------------------------------------------------- */
#custom-updates {
  color: @secondary;
  background: @primary;
}

/* -----------------------------------------------------
 * DISTRO 
 * ----------------------------------------------------- */
#custom-distro {
  color: @arch-color;
  background: @primary;
  font-size: 16px;
}
/* -----------------------------------------------------
 * Animations 
 * ----------------------------------------------------- */
@keyframes blink-critical {
  to {
    background-color: @critical;
  }
}
