# __USER__ is substituted with the target account at install time
# Rule for when switching to battery
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="0", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/__USER__/.Xauthority" RUN+="/usr/bin/su __USER__ -c /config/custom_scripts/charging_notify.sh 0"
# Rule for when switching to AC
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="1", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/__USER__/.Xauthority" RUN+="/usr/bin/su __USER__ -c /config/custom_scripts/charging_notify.sh 1"
